*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.rasm{
    width: 100%;
    height: 657px;
    background-image: url('./../rasm/4.jpg');
    background-repeat: no-repeat;
    background-size: cover
}
.conteyner{
    width: 90%;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    background-color: white;
}
.fa-bars{
    font-size: 25pt;
    float: right;
    margin-top: 20px;
    display: none;
}
.left-nav{
    font-family: sans-serif;
    display: inline-block;
    position: relative;
    padding: 10px;
}
.h1{
    display: inline-block;
    font-weight: 100;
    font-size: 18pt;
}
.h3{
    font-weight: 100;
    font-size: 18pt;
}
.h2{
    display: inline-block;
    position: absolute;
    top: 12px;
}
.nav-menu{
    display: inline-block;
    float: right;
}
.clr{
    clear: both;
}
.nav-menu2{
    display: inline-block;
}
.nav-menu2 li {
    display: inline-block;
    list-style: none;
}
.nav-item{
    text-transform: uppercase;
    font-size: 12pt;
    font-family: sans-serif;
    padding: 30px 30px;
    text-decoration: none;
    display: inline-block;
    color: rgb(129, 129, 129);
    position: relative;
}
.dropdown {
    display: none;
    width: 160px;
    position: absolute;
    background-color: white;
    color: rgb(129, 129, 129);
}
.dropdown a{
    color: rgb(129, 129, 129);
    text-decoration: none;
    padding: 15px 15px;
}
.drop-item{
    padding: 10px;  
    display: block; 
    width: 160px;
}
.drop-item1{
    padding: 10px;  
    display: block; 
    width: 240px;
}
.drop-item1:hover{
    background-color: rgb(221, 219, 219);
    transition: 1s;
}
.drop-item:hover{
    background-color: rgb(221, 219, 219);
    transition: 1s;
}
.nav-li:hover{
    background-color: rgb(221, 219, 219);
}
.nav-li:nth-child(2):hover .dropdown{
    display: block;
    right: 315px;
    border-radius: 2px;
}
.nav-li:nth-child(3):hover .dropdown{
    display: block;
    width: 240px;
    right: 208px;
    border-radius: 2px;
}
.text{
    text-align: center;
    font-size: 25pt;
    font-family: sans-serif;
    font-weight: 100;
    padding: 250px 50px 0px 50px;
    letter-spacing: 10px;
}
.text2{
    text-align: center;
    color: rgb(51, 50, 50);
    padding-top: 10px;
    font-size: 13pt;
    letter-spacing: 3px;
}
.btn{
    margin-top: 50px;
    margin-left: 45%;
    padding: 10px 25px;
    background-color: white;
    border: 1px solid;
    transition: 1s;
}
.btn:hover{
    background-color: rgb(214, 214, 214);
}
.qism1{
    width: 100%;
    height: 480px;
    background-color: rgb(235, 227, 227);
    position: relative;
    
}
.rasm1{
    width: 40%;
    height: 300px;
    background-image: url('./../rasm/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 85px;
}
.avada1{
    width: 47%;
    height: 300px;
    display: inline-block;
    margin-left: 100px;
    
    top: 85px;
    
}
.avada{
    display: inline-block;
    font-size: 20pt;
    font-family: sans-serif;
}
.lorem{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #aaa
}
.star{
    margin: 5px 0px;
    font-size: 11pt;
    color: rgb(26, 25, 25);
    margin-bottom: 50px;
}
.fa-star{
    margin-right: 10px;
    margin-top: 10px;
}
.btn1{
    text-align: center;
    font-size: 10pt;
    padding: 10px 20px;
    display: block;
    background-color: rgb(32, 32, 32);
    color: white;
    border: 1px solid black;
}
.btn1:hover{
    color: rgb(133, 193, 250);
    transition: 1s;
    background-color: black;
}
.icon{
    width: 100%;
    height: 350px;
}
.con-icon{
    width: 24%;
    height: 220px;
    padding: 10px 50px 0 50px;
    background-color: white;
    display: inline-block;
}
.icon1{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    margin: 50px 50px 15px 50px;
}
.icon1:hover{
    background-color: white;
    border: 1px solid black;
}
.fa-laptop{
   width: 50px;
   height: 50px;
   color: white;
   margin: 25px 25px;
}
.fa-laptop:hover{
    color: black;
}
.fa-eye{
    width: 50px;
   height: 50px;
   color: white;
   margin: 25px 25px;
}
.fa-eye:hover{
    color: black;
}
.fa-thumbs-up{
    width: 50px;
   height: 50px;
   color: white;
   margin: 25px 25px;
}
.fa-thumbs-up:hover{
    color: black;
}
.fa-address-card{
    width: 50px;
    height: 50px;
    color: white;
    margin: 25px 25px;
}
.fa-address-card:hover{
    color: black;
}
.res{
    font-size: 10pt;
    font-weight: 600;
    font-family: sans-serif;
}
.cla{
    color: #aaa;
    text-align: center;
    margin-top: 10px;
}
.foto{
    width: 100%;
    height: 160vh;
    background-color: rgb(238, 234, 234);
}
.show{
    font-size: 25pt;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 80px;
    color: rgb(39, 39, 39);
}
.abs{
    text-align: center;
    color: #aaa;
    padding-top: 10px;
}
.foto1{
    padding-top: 50px;
}
.photo1{
    width: 28%;
    height: 300px;
    background-image: url('./../rasm/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-right: 40px;
}
.photo2{
    width: 28%;
    height: 300px;
    background-image: url('./../rasm/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
}
.photo3{
    width: 28%;
    height: 300px;
    background-image: url('./../rasm/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
}
.ost1{
    width: 28%;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}
.ost2{
    width: 28%;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}
.ost3{
    width: 28%;
    display: inline-block;
    position: relative;
}
.Oliver{
    padding-top: 15px;
    font-size: 14pt;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fash{
    color: #aaa;
    display: inline-block;
}
.son{
    display: inline-block;
    position: absolute;
    right: 0px;
}
.fa-heart{
    position: absolute;
    right: 25px;
}
.past{
    width: 100%;
    height: 350px;
    background-image: url('./../rasm/7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-twitter{
    font-size: 30pt;
    color: white;
    padding: 100px 650px 0px 650px;
}
.free{
    text-align: center;
    font-size: 24pt;
    font-weight: 500;
    font-family: sans-serif;
    padding-top: 20px;
    color: white;
}
.them{
    text-align: center;
    padding-top: 40px;
    color: white;
}
.affor{
    width: 100%;
    height: 120vh;
    background-color: rgb(238, 234, 234);
}
.affordable{
    font-size: 32pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 40px;

}
.absolut{
    text-align: center;
    color: #aaa;
}
.standart{
    width: 23%;
    height: 530px;
    background-color: white;
    padding: 5px;
    margin-top: 50px;
    margin-right: 15px;
    display: inline-block;
}
.standart1{
    font-size: 22pt;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    text-align: center; 
    transition: 1s;
}
.standart:hover{
    color: white;
    background-color: rgb(56, 55, 55);
    
}
.pro{
    text-align: center;
    color: #aaa;
    padding-top: 30px;
    font-size: 12pt;  
}
.mo{
    font-size: 40pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 10px;
    padding: 15px;
}
.pro1{
    text-align: center;
    font-size: 9pt;
    color: #aaa;
    padding: 10px 20px;
    margin: 20px 70px;
}
.pro1:hover{
    background-color: white
}
